/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap);

body {
	font-family: 'Ubuntu', sans-serif;
}

:focus {
  outline: none;
}

/* Header elements
 ====================================================== */

.site-title {
  display: inline;
  margin: auto;
  color: #111;
  font-weight: 400;
}

.site-description {
	display: inline;
	color: #767676;
	font-weight: 400;
	margin: 0;
}

.uk-navbar > ul > li > a {
  font-weight: 700;
  color: #0073aa;
  margin-right: .5rem;
}

// Styles for Announcement Bar
.tm-toolbar {
  background-color: #222;

  * {
    color: #fff;
    line-height: 45px;
  }

  img {
    width: 85px;
    margin-top: -3px;
  }

  .uk-float-right a {
    line-height: 45px;
    padding: 0 10px;
    background-color: #039460;
  }
}
